.crear{
    height: 300px;
    width: 400px;
    background-color: rgb(216, 115, 242);
    padding: 30px;
    margin-top: 10px;
    margin-left: 450px;
    border-radius: 20px;
}
.nombre, .correo{
    margin: 10px;
    border: none;
    border-radius: 7px;
    height: 30px;
    background-color:beige;
}
.btn{
    background-color: burlywood; 
    border-radius: 7px;
    color: black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
 }
.labels{
    font-weight: bold;
}