*{
    text-align: center;
}
.logueo{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(79, 30, 106);
    padding: 30px;
    margin-top: 50px;
    margin-left: 400px;
    border-radius: 20px;
}
